/* App.css */
.appContainer {
  display: flex;
  flex-direction: column; /* Stacks elements vertically */
  min-height: 100vh; /* Set minimum height for viewport coverage*/
}

.sidebar {
  position: fixed;
  width: 200px;
  margin-top: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: #060606;
}

.content {
  margin-left: 200px;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 0;
  background-color: #f9f1f1;
}

.section {
  margin-bottom: 50px;
}

.App-header {
  display: flex; /* Enable flexbox */
  justify-content: space-between; /* Center title and distribute links to right */
  align-items: center; /* Align elements vertically (optional) */
  background-color: #f0f0f0; /* Background color for header */
  padding: 20px;
  margin-top: 0;
}

.nav-link {
  margin-right: 20px; /* Adjust the margin value */
}




/* Add more styling for fonts, colors, active links, etc., as needed */
