/* App.css */
.appContainer {
  display: flex;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  overflow-y: auto;
  background-color: #f4f4f4;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

section {
  margin-bottom: 50px;
}

/* Add more styling for fonts, colors, active links, etc., as needed */
